<section class="mat-typography">
	<mat-card fxFlex="400px">
		<mat-card-title> Select a song </mat-card-title>
		<mat-card-content>
			<mat-form-field appearance="standard">
				<mat-label>Choose a track</mat-label>
				<mat-select placeholder="'...'" [(ngModel)]="selectedTitle" color="primary">
					<mat-option *ngFor="let title of transcriptTitles" [value]="title">{{ title | removeUnderscore }}</mat-option>
				</mat-select>
			</mat-form-field>
			<br>
			<button mat-raised-button color="accent" (click)="onSelectTitle(selectedTitle)">{{ 'Select' | uppercase }}</button>
		</mat-card-content>
	</mat-card>
</section>