<section class="mat-typography">
	<mat-card fxFlex="400px">
		<mat-card-title> Select a song </mat-card-title>
		<mat-card-content>
			<mat-form-field appearance="standard">
				<mat-label>Choose a track</mat-label>
				<mat-select placeholder="'...'" [(ngModel)]="selectedTitle" color="primary">
					<mat-option *ngFor="let title of transcriptTitles" [value]="title">{{ title | removeUnderscore }}</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-card-content>
	</mat-card>
	<mat-card fxFlex="400px" *ngIf="selectedTitle">
		<mat-card-title> What would you like to do with this song? </mat-card-title>
		<mat-card-content>
			<button mat-button color="primary" (click)="onCreateTiming(selectedTitle)">Create a timing</button>
			<button mat-button color="primary" (click)="onPlayTiming(selectedTitle)">Play it back</button>
		</mat-card-content>
	</mat-card>
</section>